.search {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	position: relative;

	&__input, &__label {
		font-size: 24px;
	}

	&__input {
		outline: 0;
	}

	&__suggest {
		position: absolute;
		top: 42px;
		display: block;
		list-style: none;
		padding: 0;
		width: 100%;
		min-height: 0;
		height: auto;
		z-index: 9;

		&-item {
			font-size: 20px;
			padding: 6px 4px;
			width: 100%;
			display: block;
			cursor: pointer;

			&:hover, &--active {
				background: #f2f2f2;
			}

			& + & {
				border-top: 1px solid rgba(0,0,0,.12);
			}
		}
	}
}
